{% include header.html %}

{% if page.title == "frontpage" %}
<!-- Banner --> 

<div class="inner" >
    <div class="hero-banner grey-out">
        <img src="images/DIVDlogotransparent.png" class="logo" alt="DIVD logo"/>
    </div>
</div>

<section class="wrapper">
    <div class="inner content">
        {{ content }}
    </div>
</section>
{% else %}
{% include navigation.html %}

<!-- Heading -->
<div id="heading" >
    <h1>{{ page.header | default: page.title }}</h1>
</div>

<section id="main" class="wrapper">
    <div class="inner content">
        {{ content }}
    </div>
</section>
{% endif %}

{% include footer.html scripts=page.scripts %}
