---
layout: default
---
<h2>{{ page.name }}</h2>

{% assign from_chart = site.data.orgchart.teams | where: "id", page.slug | first %}
{{ from_chart.description | markdownify }}

<h3>Team members</h3>

{% assign the_team = "" | split: "," %}
{% for id in page.members %}
	{% assign p = site.people | where: "person_id", id | first %}
	{% if p.person_id %}
		{% assign the_team = the_team | push: p %}
	{% endif %}
{% endfor %}


<ul>
	{% for p in the_team %}
		<li><a href="/people/{{ p.name | url_encode | replace: '+', '%20' }}/">{{ p.name }}{% if p.role %} - {{ p.role }}{% endif %}</a></li>
	{% endfor %}
</ul>

<h3> Org chart </h3>

<pre>
	{% assign managers = "" | split: "," %}
	{% for p in the_team %}
		{% if p.manager %}
			{% assign mgr = the_team | where: "person_id", p.manager | first %}
			{% unless mgr %}
				{% assign mgr = site.people | where: "person_id", p.manager | first %}
				{% assign managers = managers | push: mgr %}
			{% endunless %}
		{% endif %}
	{% endfor %}
</pre>


<div class="mermaid" id='subChart'>
flowchart LR
	{% for m in managers %}
        p{{ m.person_id }}[{{ m.name }}\n{{ member.role }}]
    {% endfor %}
	subgraph {{ page.slug }}[{% include mermaid_filter.html string=page.name %}]
        {% for member in the_team %}
            p{{ member.person_id }}[{{ member.name }}\n{% include mermaid_filter.html string=member.role %}]
        {% endfor %}                    
	end
    {% for member in the_team %}
        {% if member.manager %}
        	p{{ member.manager }} --- p{{ member.person_id }}
        {% endif %}
    {% endfor %}
</div>
<a href="#" target='#subChart' hidden="hidden" class='save-svg'>To download picture, right click this link and save as an .svg file...</a>
